html{
    background-color: burlywood;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    position: relative;
    color:cornsilk;
    font-size: 70px;
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 5vw;
    user-select: none;
}
h2{
    color: cornsilk;
    font-size: large;
    font-style: italic;
    margin-left: 100px;
    user-select: none;
}
.container {
    position: relative;
    text-align: center;
}
#log{
    width:80%;
    height:50px;
    box-shadow: rgba(90, 51, 23, 0.555) 3px 10px 4px;
}
#centered {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gcse-searchbox{
    padding-top: 10px;
    width: 60%;
}
.gcse-searchresults-only{
    background-color: burlywood;
}
