html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4{
    margin-top: 0;
    color:cornsilk;
    user-select: none;
    margin-left: 70%;
    font-size: 40px;
    margin-bottom: 10px;
    transform: rotate(-12deg);
}
h1{
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    color:cornsilk;
    font-size: 70px;
    text-align: center;
    user-select: none;
}
h2{
    margin-top: 0;
    color: cornsilk;
    font-size: large;
    font-style: italic;
    margin-left: 100px;
    user-select: none;
}
select{
    display: inline-block;
    margin-left: 45%;
    background-color: seagreen ;
    border: darkgreen solid 2px;
    font-size: 14px;
    color: cornsilk;
    padding: 4px;
}
.container {
    position: relative;
    text-align: center;
}
#log{
    width:80%;
    height:50px;
    box-shadow: rgba(90, 51, 23, 0.555) 3px 10px 4px;
}
#centered {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gcse-searchbox{
    padding-top: 10px;
    width: 60%;
}

